
/* General styling */
html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
    font-family: 'Lato', 'Helvetica Neue', sans-serif;
    color: #555555;
    font-size: 1.075em;

    -ms-word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, 'Helvetica Neue', sans-serif;
    color: #555555;
    font-weight: normal;
}

::selection {
    background: #444;
    color: #FFF;
}

body {
    background-color: #f1f1f1;
}

body a {
    text-decoration: none;
    color: #218cb9;
}

body a:hover {
    text-decoration: underline;
    color: #218cb9;
}

body p {
    text-align: justify;
}

.hidden {
    visibility: hidden !important;
}

.fade {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.clear {
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}
iframe {
    max-width: 100%;
    display: block;
    margin: 1em auto;
}

/* General Layout */
#header {
    background-color: #218cb9;
}

#footer {
    background-color: #ffffff;
}

#content {
}

.wrapper {
    /*width: 800px;*/
    width: 94%;
    max-width: 60em;
    margin: 0 auto;
    padding: 1em 0;
    position: relative;
}

/* Header elements */
#header .wrapper {
    padding: 2em 0;
}
#header a {
    color: #ffffff;
    text-decoration: none;
}
#header a:hover {
    color: #ffffff;
    text-decoration: none;
}

.blog-title {
    margin: 50px 0 50px 17%;
    line-height: 0;
}

.blog-logo {
    display: block;
    position: absolute;
    left: 0;
    width: 90px;
    height: 90px;
    background: #FFF url(../images/home.png) no-repeat center;
    background-size: 32px auto;
    border-radius: 9999px;
    border: 5px solid #FFF;
    z-index: 3;
}
.blog-logo:hover {
    background-color: #2D3642;
}
.blog-logo img {
    border-radius: 9999px;
}
.blog-logo:hover img {
    opacity: 0;
}

/* Content area */
#content .wrapper::before {
    content: "";
    display: block;
    position: absolute;
    left: 40px;
    bottom: 63px;
    height: 20px;
    width: 20px;
    background: #CCC;
    border-radius: 999px;
    z-index: 10;
}
#content .wrapper::after {
    content: "";
    display: block;
    position: absolute;
    left: 49px;
    bottom: 63px;
    width: 2px;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.blog-tagline {
    margin-left: 12.5%;
    padding: 1em 0;
    color: #999;
    font-size: 0.9em;
    text-align: center;
}

/* Articles */
.post {
    position: relative;
    margin-top: 1em;
}

/* Bubbles */
.post-bubble a {
    box-sizing: content-box;
    display: block;
    border-radius: 999px;
    position: absolute;
    z-index: 10;
    border: 3px solid #FFF;
    text-indent: -9999px;

}
.post-bubble a:hover {
    background-color: #218cb9;
}

a.format-bubble {
    height: 44px;
    width: 44px;
    background-size: 22px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #CCC;
    background-image: url(../images/formats/standard.png);
    left: 25px;
    margin-top: 33px;
}
.format-link a.format-bubble{
    background-image: url(../images/formats/link.png);
}
.format-audio a.format-bubble{
    background-image: url(../images/formats/audio.png);
}
.format-aside a.format-bubble{
    background-image: url(../images/formats/aside.png);
}
.format-chat a.format-bubble{
    background-image: url(../images/formats/chat.png);
}
.format-image a.format-bubble{
    background-image: url(../images/formats/image.png);
}
.format-quote a.format-bubble{
    background-image: url(../images/formats/quote.png);
}
.format-status a.format-bubble{
    background-image: url(../images/formats/status.png);
}
.format-video a.format-bubble{
    background-image: url(../images/formats/video.png);
}

/* Articel content */
.post-inner {
    margin-left: 12.5%;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 5.5%;
    position: relative;
}
.post-inner:before {
    content: "";
    display: block;
    border: 11px solid transparent;
    border-right-color: #DDD;
    position: absolute;
    top: 47px;
    left: -22px;
}
.post-inner:after {
    content: "";
    display: block;
    border: 10px solid transparent;
    border-right-color: #FFF;
    position: absolute;
    top: 48px;
    left: -20px;
}
.format-link .post-inner {
    background-color: #2D3642;
}
.format-link .post-inner::after {
    border-right-color: #2D3642;
}
.format-link .post-title {
    font-size: 1.8em;
}
.format-link .post-title a {
    color: #218cb9;
}
.format-link .post-title a:hover {
    color: #218cb9;
}
.format-link .post-content p,
.format-link .post-content blockquote,
.format-link .post-content blockquote cite {
    color: #FFF;
}

.post-header {
    padding-bottom: 1em;
    border-bottom: 1px solid #DDD;
    margin-bottom: 1em;
}

.post-title {
    font-size: 2.25em;
    line-height: 120%;
    font-weight: normal;
    margin-top: 0;
}
.post-title a {
    color: #2D3642;
}
.post-title a:hover {
    text-decoration: none;
    color: #218cb9;
}

.post-content p {
    line-height: 170%;
    margin-bottom: 1.1em;
}
.post-content p:last-child {
    margin-bottom: 0;
}

.post-featured-media {
    margin-bottom: 1em;
}
.post-featured-media img {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin: 0
}

.post-meta {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.825em;
}
.post-meta a {
    color: #999;
    text-decoration: none;
}
.post-meta a:hover {
    color: #218cb9;
    text-decoration: none;
}
.post-meta-sep {
    margin: 0 5px;
    color: #DDD;
}

.article, .page {
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 5.5%;
    position: relative;
    width: 800px;
    margin: 2em auto;
}

.pagination {
    margin-top: 1em;
}
.pagination ul.pure-menu-list {
    display: block;
    text-align: center;
    margin-left: 12.5%;
}


.footer-widgets {
    width: 33%;
    float: left;
}
.footer-widgets .widget {
    margin: 0 2.5%;
    margin-bottom: 15px;
    font-size: 0.875em;
}
.footer-widgets .widget-title {
    font-size: 0.875em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #444;
    line-height: 1;
}

@media screen and (max-width: 35.5em) {

}
@media screen and (max-width: 48em) {
    .wrapper {
        width: 100% !important;
        margin: 0;
    }
    .blog-logo {
        position: static;
        margin: 0 auto;
        width: 80px;
        height: 80px;
        background-size: 24px auto;
        text-align: center;
    }
    .blog-title {
        position: static;
        /*display: block;*/
        float: none;
        text-align: center;
        margin: 0;
        margin-top: 1em;
        line-height: 1;
        font-size: 1.75em !important;
    }
    .blog-tagline {
        margin: 0;
        padding: 1em 3.5%;
    }
    #content .wrapper::before,
    #content .wrapper::after {
        display: none;
    }
    .post-bubble,
    .post-inner:before,
    .post-inner:after {
        display: none;
    }
    .post-inner {
        margin: 1em 0;
        border-radius: 0;
    }

    .footer-widgets {
        width: auto;
        float: none;
        padding: 5.5%;
        margin: 0;
    }
    .footer-widgets .widget {
        margin: 0;
        font-size: 0.875em;
    }
}
@media screen and (max-width: 64em) {
}
@media screen and (max-width: 80em) {
}

@media screen and (min-width: 35.5em) {
}
@media screen and (min-width: 48em) {
}
@media screen and (min-width: 64em) {
}
@media screen and (min-width: 80em) {
}
