@charset 'UTF-8';

/* General styling */
html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
    font-family: 'Lato', 'Helvetica Neue', sans-serif;
    color: #555555;
    font-size: 1.075em;

    -ms-word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, 'Helvetica Neue', sans-serif;
    color: #555555;
    font-weight: normal;
}

::selection {
    background: #444;
    color: #FFF;
}

body {
    background-color: #f1f1f1;
}

body a {
    text-decoration: none;
    color: #B3446C;
}

body a:hover {
    text-decoration: underline;
    color: #B3446C;
}

body p {
    text-align: justify;
    line-height: 170%;
}

body li {
    margin-bottom: 0.5em;
    line-height: 170%;
}

body blockquote {
    line-height: 170%;
    font-size: 1.1em;
    padding: 1em;
    background: #f6f6f6;
    color: #666;
    margin: 0;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

body blockquote p:first-child {
    margin-top: 0;
}
body blockquote p:last-child {
    margin-bottom: 0;
}

body cite {
    font-family: 'Raleway', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 140%;
    color: #666;
    font-style: normal;
}
body blockquote cite {
    display: block;
    margin-top: 1em;
    font-size: 0.8em;
}
body cite::before {
    content: "— ";
}

.hidden {
    visibility: hidden !important;
}

.fade {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.clear {
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}
img.img-center {
    display: block;
    margin: 0 auto;
    float: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
img.img-right {
    float: right;
    margin: 0.5em;
    margin-right: 0;
}
img.img-left {
    float: right;
    margin: 0.5em;
    margin-left: 0;
}
img.img-sm {
    max-width: 33%;
}
img.img-md {
    max-width: 50%;
}
img.img-lg {
    max-width: 66%;
}
img.img-xl {
    max-width: 100%;
}

iframe {
    max-width: 100%;
    display: block;
    margin: 1em auto;
}

.left {
    float: left;
}
.right {
    float: right;
}

.pure-menu.pure-menu-floating {
    display: inline-block;
}
.pure-menu.pure-menu-floating .pure-menu-item {
    float: left;
}
a.pure-menu-link:hover {
    text-decoration: none;
}

/* General Layout */
#menu {
    background-color: #2D3642;
}

#header {
    background-color: #B3446C;
}

#footer {
    background-color: #ffffff;
}

#content {
}

.wrapper {
    /*width: 800px;*/
    width: 94%;
    max-width: 50em;
    margin: 0 auto;
    padding: 1em 0;
    position: relative;
}
.article,
.page {
    /*width: 800px;*/
    width: 94%;
    max-width: 50em;
    margin: 2em auto;
    padding: 0;
    position: relative;

    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.page-inner,
.article-inner {
    padding: 4.4%;
    position: relative;
}

/* Main menu */
#menu .pure-menu a {
    color: #f1f1f1;
}
#menu .pure-menu-children {
    background-color: #2D3642;
    z-index: 5;
}
#menu .pure-menu a:hover {
    color: #B3446C;
}
#menu .wrapper {
    padding: 0;
}

/* Header elements */
#header .wrapper {
    padding: 2em 0;
}
#header a {
    color: #ffffff;
    text-decoration: none;
}
#header a:hover {
    color: #ffffff;
    text-decoration: none;
}

.blog-title {
    margin: 50px 0 50px 17%;
    line-height: 0;
}

.blog-logo {
    display: block;
    position: absolute;
    left: 0;
    width: 90px;
    height: 90px;
    background: #FFF url(../images/home.png) no-repeat center;
    background-size: 32px auto;
    border-radius: 9999px;
    border: 5px solid #FFF;
    z-index: 3;
}
.blog-logo:hover {
    background-color: #2D3642;
}
.blog-logo img {
    border-radius: 9999px;
}
.blog-logo:hover img {
    opacity: 0;
}

/* Content area */
#content .wrapper::before {
    content: "";
    display: block;
    position: absolute;
    left: 40px;
    bottom: 63px;
    height: 20px;
    width: 20px;
    background: #CCC;
    border-radius: 999px;
    z-index: 10;
}
#content .wrapper::after {
    content: "";
    display: block;
    position: absolute;
    left: 49px;
    bottom: 63px;
    width: 2px;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.blog-tagline {
    margin-left: 12.5%;
    padding: 1em 0;
    color: #999;
    font-size: 0.9em;
    text-align: center;
}

/* Articles */
.post {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
}
.post:last-child {
    margin-bottom: 0;
}

/* Bubbles */
.post-bubble a {
    box-sizing: content-box;
    display: block;
    border-radius: 999px;
    position: absolute;
    z-index: 10;
    border: 3px solid #FFF;
    text-indent: -9999px;

}
.post-bubble a:hover {
    background-color: #B3446C;
}

a.format-bubble {
    height: 44px;
    width: 44px;
    background-size: 22px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #CCC;
    background-image: url(../images/formats/standard.png);
    left: 25px;
    margin-top: 33px;
}
.format-link a.format-bubble{
    background-image: url(../images/formats/link.png);
}
.format-audio a.format-bubble{
    background-image: url(../images/formats/audio.png);
}
.format-aside a.format-bubble{
    background-image: url(../images/formats/aside.png);
}
.format-chat a.format-bubble{
    background-image: url(../images/formats/chat.png);
}
.format-image a.format-bubble{
    background-image: url(../images/formats/image.png);
}
.format-quote a.format-bubble {
    background-image: url(../images/formats/quote.png);
}
.format-status a.format-bubble{
    background-image: url(../images/formats/status.png);
}
.format-video a.format-bubble{
    background-image: url(../images/formats/video.png);
}

/* Articel content */
.post-inner {
    margin-left: 12.5%;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 5.5%;
    position: relative;
}
.post-inner:before {
    content: "";
    display: block;
    border: 11px solid transparent;
    border-right-color: #DDD;
    position: absolute;
    top: 47px;
    left: -22px;
}
.post-inner:after {
    content: "";
    display: block;
    border: 10px solid transparent;
    border-right-color: #FFF;
    position: absolute;
    top: 48px;
    left: -20px;
}
/* Format link and quote */
.format-link .post-inner,
section.format-link,
.format-quote .post-inner,
section.format-quote {
    background-color: #2D3642;
}
.format-link .post-inner::after,
.format-quote .post-inner::after {
    border-right-color: #2D3642;
}
.format-link .post-title {
    font-size: 1.8em;
}
.format-quote .post-header {
    display: none;
}
.format-link .post-title a,
.format-quote .post-title a {
    color: #B3446C;
}
.format-link .post-title a:hover,
.format-quote .post-title a:hover {
    color: #B3446C;
}
.format-link .post-content p,
.format-link .post-content blockquote,
.format-link .post-content blockquote cite
.format-quote .post-content p,
.format-quote .post-content blockquote,
.format-quote .post-content blockquote cite {
    color: #FFF;
}
.format-link .post-content blockquote {
    background: #414954;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2);
}
.format-quote .post-content blockquote {
    background-color: inherit;
    box-shadow: none;
    padding: 0;
    text-align: center;
    font-size: 1.25em;
    font-family: 'Raleway', 'Helvetica Neue', sans-serif;
}
.format-quote .post-content blockquote cite {
    font-weight: 400;
    font-size: 0.725em;
    text-align: center;
    letter-spacing: 1px;
}
/* Format video and audio */
.format-video .post-inner,
section.format-video,
.format-audio .post-inner,
section.format-audio {
    background-color: #e9f6fb;
}
.format-video .post-inner::after,
.format-audio .post-inner::after {
    border-right-color: #e9f6fb;
}

.post-header {
    padding-bottom: 1em;
    border-bottom: 1px solid #DDD;
    margin-bottom: 1em;
}

.post-title {
    font-size: 2.25em;
    line-height: 120%;
    font-weight: normal;
    margin-top: 0;
}
.post-title a {
    color: #2D3642;
}
.post-title a:hover {
    text-decoration: none;
    color: #B3446C;
}

.post-content p {
    margin-bottom: 1.1em;
}
.post-content p:last-child {
    margin-bottom: 0;
}

.post-featured-media {
    margin-bottom: 1em;
}
.post-featured-media img {
    border-radius: 4px;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
    margin: 0 auto;
    display: block;
}

.post-meta {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.825em;
}
.post-meta a {
    color: #999;
    text-decoration: none;
}
.post-meta a:hover {
    color: #B3446C;
    text-decoration: none;
}
.post-meta-sep {
    margin: 0 5px;
    color: #DDD;
}
.post-meta2 {
    margin-top: 2em;
    color: #888;
    font-size: 0.925em;
}
.post-meta2 span {
    display: inline-block;
    line-height: 120%;
}
.post-category {
    margin-right: 2em;
}
.post-category,
.post-tags {
}

.credits {
    margin-top: 2em;
    color: #888;
    font-size: 0.825em;
    display: block;
    text-align: right;
    margin: 0;
}
.credits:before {
    font-family: 'LigatureSymbols';
    content: '\E034';
}
.credits a,
.credits a:hover {
    text-decoration: none;
}

.pagination {
    margin-top: 1em;
}
.pagination ul.pure-menu-list {
    display: block;
    text-align: center;
    margin-left: 12.5%;
}


.footer-widgets {
    width: 33%;
    float: left;
}
.footer-widgets .widget {
    margin: 0 2.5%;
    margin-bottom: 15px;
    font-size: 0.875em;
}
.footer-widgets .widget-title {
    font-size: 0.875em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #444;
    line-height: 1;
}

#bottom {
    margin: 2em 1em;
}
#bottom p {
    display: block;
    position: relative;
    margin: 0.5em 1em;
    font-size: 0.875em;
    color: #999;
}
#bottom p:last-child {
    
}
#bottom p a,
#bottom p a:hover {
    color: #444;
    text-decoration: none;
}

@media screen and (max-width: 35.5em) {

}
@media screen and (max-width: 48em) {
    .wrapper {
        width: 100% !important;
        margin: 0;
    }
    .blog-logo {
        position: static;
        margin: 0 auto;
        width: 80px;
        height: 80px;
        background-size: 24px auto;
        text-align: center;
    }
    .blog-title {
        position: static;
        /*display: block;*/
        float: none;
        text-align: center;
        margin: 0;
        margin-top: 1em;
        line-height: 1;
        font-size: 1.75em !important;
    }
    .blog-tagline {
        margin: 0;
        padding: 1em 3.5%;
    }
    #content .wrapper::before,
    #content .wrapper::after {
        display: none;
    }
    .post-bubble,
    .post-inner:before,
    .post-inner:after {
        display: none;
    }
    .post-inner {
        margin: 1em 0;
        border-radius: 0;
    }
    /* Single page layouts */
    .article,
    .page {
        width: 100% !important;
        margin: 0;
        border-radius: 0;
    }
    .page-inner,
    .article-inner {
        margin: 1em 0;
    }

    .footer-widgets {
        width: auto;
        float: none;
        padding: 0 5.5%;
        margin: 0;
    }
    .footer-widgets .widget {
        margin: 0;
        font-size: 0.875em;
    }
}
@media screen and (max-width: 64em) {
}
@media screen and (max-width: 80em) {
}

@media screen and (min-width: 35.5em) {
}
@media screen and (min-width: 48em) {
}
@media screen and (min-width: 64em) {
}
@media screen and (min-width: 80em) {
}


/* LigatureSymbols font */
@font-face {
    font-family: 'LigatureSymbols';
    src: url('LigatureSymbols-2.11.eot');
    src: url('LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('LigatureSymbols-2.11.woff') format('woff'),
         url('LigatureSymbols-2.11.ttf') format('truetype'),
         url('LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    font-weight: normal;
    font-style: normal;
}

.lsf {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}
.lsf-icon:before {
  content:attr(title);
  text-transform: lowercase;
  margin-right:0.3em;
  font-size:130%;
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}