{% extends "base.html" %}

{% block head %}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}
  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block content %}
<section class="article format-{{ article.format if article.format is defined else 'standard' }}">
    <div class="article-inner">
        <header class="post-header">
            {% if article.image is defined %}
            <div class="post-featured-media">
                {% if (article.format is defined) and (article.format == 'link') and (article.link is defined) %}
                <a href="{{ SITEURL }}/{{ article.url }}" title="External link" class="external">
                    <img src="{{ SITEURL }}/{{ article.image }}">
                </a>
                {% else %}
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">
                    <img src="{{ SITEURL }}/{{ article.image }}">
                </a>
                {% endif %}
            </div>
            {% endif %}

            <h2 class="post-title ">
                {% if (article.format is defined) and (article.format == 'link') and (article.link is defined) %}
                <a class="fade" href="{{ article.link }}"
                    title="External link" class="external">{{ article.title|e }}</a>
                {% else %}
                <a class="fade" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                    title="Permalink to {{ article.title|striptags }}">{{ article.title|e }}</a>
                {% endif %}
            </h2>

            <p class="post-meta">
                <a href="#" title="First published">
                    <time class="post-date" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                </a>
                <span class="post-meta-sep"> / </span>
                {% if article.modified is defined %}
                <a href="#" title="Last modified">
                    <time class="post-date" datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</time>
                </a>
                <span class="post-meta-sep"> / </span>
                {% endif %}
                <span class="post-author">
                {% for author in article.authors %}
                    <a class="fade" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                {% endfor %}
                </span>
                <span class="post-meta-sep"> / </span>
                <span class="post-category">
                    <a href="{{ SITEURL }}/{{ article.category.url }}" rel="category tag">{{ article.category.name|e }}</a>
                </span>
            </p>

            {% import 'translations.html' as translations with context %}
            {{ translations.translations_for(article) }}
        </header>

        <div class="post-content">
          {{ article.content }}
        </div><!-- /.entry-content -->

        <div class="post-meta2">
			<span class="post-category">Kategorie:
                <a href="{{ SITEURL }}/{{ article.category.url }}" rel="category tag">{{ article.category.name|e }}</a>
            </span>

			<span class="post-tags">Tags:
                {% for tag in article.tags|sort %}
                    <a href="{{ SITEURL }}/{{ tag.url }}" rel="tag">{{ tag.name|e }}</a>{% if not loop.last %},{% endif %}
                {% else %}
                -
                {% endfor %}
            </span>
		</div>
    </div>
</section>
{% endblock %}
