{% extends "base.html" %}

{% block head %}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}
  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block content %}
<section class="article format-{{ article.format if article.format is defined else 'standard' }}">
    <header class="post-header">
        {% if article.image is defined %}
        <div class="post-featured-media">
            <a href="{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">
                <img src="{{ article.image }}">
            </a>
        </div>
        {% endif %}

        <h2 class="post-title ">
            <a class="fade" href="{{ article.url }}" rel="bookmark"
                title="Permalink to {{ article.title|striptags }}">{{ article.title|e }}</a>
        </h2>

        <p class="post-meta">
            <a href="#" title="First published">
                <time class="post-date" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
            </a>
            <span class="post-meta-sep"> / </span>
            {% if article.modified is defined %}
            <a href="#" title="Last modified">
                <time class="post-date" datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</time>
            </a>
            <span class="post-meta-sep"> / </span>
            {% endif %}
            <span class="post-author">
            {% for author in article.authors %}
                <a class="fade" href="{{ author.url }}">{{ author }}</a>
            {% endfor %}
            </span>
        </p>

        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(article) }}
    </header>

    <div class="post-content">
      {{ article.content }}
    </div><!-- /.entry-content -->
</section>
{% endblock %}
