<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
{% block head %}
    <title>{{ SITENAME }}</title>
    <meta charset="utf-8" />

    <!-- pure css -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato%3A400%2C700%2C400italic%2C700italic%7CRaleway%3A600%2C500%2C400" type="text/css" media="all">
    <!-- styles -->
    <link rel="stylesheet" href="theme/css/styles.css">

    {% include 'includes/feeds.html' %}
{% endblock head %}
</head>

<body>
    {% block header %}
    <header id="header">
        <div class="wrapper">
            <a href="{{ SITEURL }}" title="{{ SITENAME }}" rel="home" class="blog-logo fade">
    			<img src="theme/images/logo.jpg" alt="{{ SITENAME }}" class="fade">
    		</a>
            <h1 class="blog-title">
                <a href="{{ SITEURL }}/">{{ SITENAME }}</a>
            </h1>
        </div>
    </header>
    {% endblock header %}

    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>

    {% block footer %}
    <div id="footer" class="pure-g">
    </div>
    {% endblock footer %}
</body>
</html>
