{% extends "base.html" %}
{% block content %}
<div class="wrapper">
    <div class="blog-tagline">
        <em>{{ SITESUBTITLE }}</em>
    </div>

    {% for article in articles_page.object_list %}
    <div class="post format-{{ article.format if article.format is defined else 'standard' }}">
        <div class="post-bubble">
        	<a href="{{ article.url }}" class="format-bubble fade"></a>
        </div>

        <article class="post-inner">
            <header class="post-header">
                {% if article.image is defined %}
                <div class="post-featured-media">
    				<a href="{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">
    					<img src="{{ article.image }}">
    				</a>
    			</div>
                {% endif %}

                <h2 class="post-title ">
                    <a class="fade" href="{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                </h2>

                <p class="post-meta">
                    <a href="#">
                        <time class="post-date" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                    </a>
                    <span class="post-meta-sep"> / </span>
                    <span class="post-author">
                    {% for author in article.authors %}
                        <a class="fade" href="{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                    </span>
                </p>
            </header>

            <div class="post-content">{{ article.content }}</div>
        </article>
    </div>
    {% endfor %}

    {% if articles_page.has_other_pages() %}
        {% include 'includes/pagination.html' %}
    {% endif %}
</div>
{% endblock content %}
